<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../CSS/index.css">
</head>

<body>
    <div class="container-fluid backGroundC">
        <form>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-8 col-lg-4 Main">
                    <input type="text" class="form-control" placeholder="Customer Name" id="txtCustomerName">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-8 Main">
                    <div class="input-group ">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="dd1Customertype">Customer Type</label>
                        </div>
                        <select class="custom-select" id="dd1Customertype">
                            <option selected>Choose...</option>
                            <option value="1">Silver</option>
                            <option value="2">Gold</option>
                            <option value="3">Platinum</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-4 Main">
                    <input type="text" class="form-control" placeholder="State" id="txtStateName">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 Main">
                    <input type="text" class="form-control" placeholder="Product Name" id="txtProductName">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 Main">
                    <input type="text" class="form-control" placeholder="Product Price" id="txtProductPrice">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 Main">
                    <input type="text" class="form-control" placeholder="Quantity" id="txtquantity">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 Main">
                    <button type="button" class="btn btn-success Main" id="btnSubmit"
                        onclick="onSubmitButtonEvent()">Submit</button>
                    <button type="button" class="btn btn-warning  Main " id="btnCancel"
                        onclick="onCancelbuttonEvent()">Cancel</button>
                </div>

            </div>
        </form>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="../Model/customerModel.js"></script>
    <script src="../Model/productModel.js"></script>
    <script src="../Model/discountModel.js"></script>
    <script src="../Model/gstModel.js"></script>
    <script src="../Model/salesModel.js"></script>
    <script src="../BL/salesCalculatuion.js"></script>
    <script src="../Controller/salesController.js"></script>

</body>

</html>