<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div>
        <input id="txtUsername" type="text" placeholder="Enter UserName" style="margin: 5px;" /></br>
        <input id="txtPassword" type="password" placeholder="Enter PassWord" style="margin: 5px;" />
    </div>
    <div>
        <button id="btnSubmit" onclick="OnSubmitEvent()" style="margin: 5px;">Submit</button>
        <button id="btnCancel" onclick="OnCancelEvent()">Cancel</button>
    </div>
    <div id="lab" style="display: none;"></div>
</body>
<script src="../lib/jquery-3.4.1.min.js"></script>
<script src="../Model/loginModel.js"></script>
<script src="../Controller/LoginController.js"></script>

</html>